/* jumbotron-pic section */
#jumbotron-pic {
  height: 530px;
  width: 100%;
  background: url(imgs/landing.jpg);
  padding: 20px;
  object-fit: cover;
  background-size:1000px;
}

#jumbotron-pic h1 {
  color:rgb(45, 110, 185);
  text-align: right;
}

/* mission-statement section */
#mission-statement {
  width: 100%;
  padding: 20px;
}

.section-title {
  color: rgb(45, 110, 185);
  text-align: center;
  font-size: 38px;
}

#mission-statement h3{
  color: black;
  text-align: center;
  font-weight: 400;
}

/* stattistics section */
#statistics-features{
  width: 100%;
  background-color: rgb(45, 110, 185);
  padding: 32px;
  text-align: center;
  vertical-align: middle;
}

#statistics-features .section-title {
  color: white;
}

.statistics-feature{
  padding: 32px;
  display: inline-block;
  width: 30%;
  /* border: 4px solid rgb(20, 53, 91); */
  background:white;
  margin: 8px;
  border-radius: 8px;
}

.statistics-feature__stat{
  color: rgb(14, 61, 119);
}
.statistics-feature__stat--info{
  color: rgb(136, 138, 141);
}

.statistics-feature__icon{
  height: 150px;
  width: 150px;
  background: rgba(45, 110, 185, 0.146);
  border-radius: 50%;
  margin: auto;
  /* border: 4px solid rgb(20, 53, 91); */
}
